<aside id="sidebar">
    <h1>Portfolio Site</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/admin">Admin</a></li>
            <li><a href="/contact-us">Contact</a></li>
            <li><a href="https://www.linkedin.com/in/serey-makara-kosal-ab5569300" target="_blank">LinkedIn</a></li>
            <li><a href="https://github.com/samkosal/Portfolio-Project-Guestbook-Form.git" target="_blank">Github</a></li>
        </ul>
    </nav>
</aside>