<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guestbook</title>
    <!-- script  -->
    <script src = "js/guestbook.js" defer></script>
    <!-- favicon -->
    <link rel="icon" href="images/tf2Pizza.jpg" />
    <!-- link styling -->
    <!-- <link rel="stylesheet" href="styles/stylesheet.css" /> -->
</head>
<body>
    <main>
        <h1>Confirmation</h1>
        <button><a href="/">submit a form</a></button>
        <button><a href="/admin">go to admin</a></button>

    </main>
</body>
</html>