<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Guestbook</title>
    <!-- script  -->
    <script src = "js/guestbook.js" defer></script>
    <!-- favicon -->
    <link rel="icon" href="images/tf2Pizza.jpg" />
    <!-- link styling -->
    <link rel="stylesheet" href="styles/stylesheet.css" />
</head>
<body>
    <main>
        <form id="guestbook-form" action="submit-order" method="post">
            <!-- Contact form -->
            <h1>Contact Form</h1>
            <!-- first 6 entry box -->
            <fieldset id = "entry6">
                <div id = "first">
                    <span id="err-fname" class="error"> First Name cannot be empty!</span>
                    <label for="fname">First Name:</label>
                    <input type="text" id="fname" name="name">
                </div>
                <div id = "second">
                    <span id="err-lname" class="error"> Last Name cannot be empty!</span>
                    <label for="lname">Last Name:</label>
                    <input type="text" id="lname" name="lname">
                </div>
                <div id = "third">
                    <span id="err-jobname" class="error"> Job Title cannot be empty!</span>
                    <label for="jobname">Job Title:</label>
                    <input type="text" id="jobname" name="jobname">
                </div>
                <div id = "fourth">
                    <span id="err-companyname" class="error"> Company Name cannot be empty!</span>
                    <label for="companyname">Company Name:</label>
                    <input type="text" id="companyname" name="companyname">
                </div>
                <div id = "fifth">
                    <span id="err-linkedin" class="error"> Linkedin URL cannot be empty!</span>
                    <label for="linkedin">Linkedin URL:</label>
                    <input type="text" id="linkedin" name="linkedin">
                </div>
                <div id = "sixth">
                    <span id="err-email" class="error"> Email Address cannot be empty!</span>
                    <label for="email">Email Address:</label>
                    <input type="text" id="email" name="email">
                </div>

            </fieldset>
            <!-- 2 entry -->
            <fieldset id = "entry2">
                <div>
                    <span id="err-meet" class="error">Please select an option</span>
                    <label>How did we meet?</label>
                    <select id="meet" name="meet">
                        <option value="none">-- Select an option --</option>
                        <option value="event">Networking event</option>
                        <option value="online">Online</option>
                        <option value="in-person">in-person</option>
                        <option value="school">school</option>
                        <option value="other">other</option>
                    </select>
                </div>
                <div id = "other-input">
                    <label for="other">Other (please specify)</label>
                    <input type="text" id="other" name="other">
                </div>
            </fieldset>
            <!-- message box -->
            <fieldset id = "message">
                <div>
                    <label for="message">Message:</label>
                    <textarea id="message" name="message"></textarea>
                </div>
            </fieldset>
            <!-- checkbox, radio button-->
            <section>
                
                <label for="mail">
                    <input type="checkbox" id="mail" name="mailing[]"
                        value="mail">Please add me to your mailing list
                </label>
                <br>
                <label id = "pick-email-format"> Choose an email format:
                    <label for="HTML">
                        <input type="radio" id="HTML" name="method"
                            value="HTML">HTML
                    </label>
                
                    <label for="Text">
                        <input type="radio" id="Text" name="method"
                            value="Text">Text
                    </label>
                </label>
                
            </section>
            <!-- submit -->
            <button type="submit" id="order-button">submit</button>
            <p>
                <a href="https://github.com/samkosal/Portfolio-Project-Guestbook-Form.git" target="_blank">
                    https://github.com/samkosal/Portfolio-Project-Guestbook-Form.git
                </a>
            </p>
        </form>

    </main>
</body>
</html>