body {
    background-color: var(--primary-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 220px;
    height: 100vh;
    background-color: #6db6eb;
    padding: 2rem 1rem 1rem 1rem;
}

#sidebar h1 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
    color: white;
}

#sidebar nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#sidebar nav ul li {
    margin-bottom: 1.5rem;  
}


#sidebar nav ul li a:hover {
    color: #333;
}

/* push main content to the right */
main {
    margin-left: 260px;
}